/*MIXINS*/


@mixin container($ancho, $alto, $color) {
    width: $ancho;
    height: $alto;
    background-color: $color;
    border-radius: 5%;
    text-align: center;
    margin: 5px;
  } 

  .box_uno{
    @include container(550px, 220px, #8f6a33)
  }
  