/*FOOTER*/


.dv{
    display: flex;
    justify-content: flex-start;
    background-color: $color-footer;
    padding: 10px 0 10px 10px;
    
    a{
        color: $color-text;
        font-size: 15px;
        text-decoration: none;
        text-transform: uppercase;
        padding-left: 15px;
        font-weight: bold;
        font-family: rale;
        padding-top: 60px;
    }

    :hover{
        color: $color-body;
    }
}

